
# Node
node_modules/
npm-debug.log

# Variáveis de ambiente (nunca subir isso!)
.env

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/capacitor-cordova-android-plugins/build/
*.apk
*.aab

# iOS (se um dia adicionar)
ios/App/Pods/
ios/App/build/

# Sistema
.DS_Store
Thumbs.db