<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Bixuco — Introdução</title>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    >

    <link
        rel="stylesheet"
        href="/css/transicao3.css"
    >

    <link rel="icon" type="image/png" href="/img/logo-bixuco-colorida.png">
    <script src="/js/deeplink.js"></script>


</head>

<body>

    <main id="conteudo">

        <!-- Botão voltar -->

        <button id="btnVoltar" class="seta-esquerda">
            <i class="fa-solid fa-chevron-left"></i>
        </button>

        <!-- Conteúdo -->

        <section>

            <img
                src="/img/pessoasT.png"
                alt="Conecte seu terapeuta"
            >

            <h1>

                Conecte seu terapeuta

            </h1>

            <p>

                Compartilhe relatórios e facilite
                o acompanhamento profissional
                do seu filho(a).

            </p>

            <button id="btnProximo" class="btn-proximo">
                Próximo
            </button>

        </section>

        <!-- Indicadores -->

        <div class="indicadores">

            <span></span>

            <span></span>

            <span class="ativo"></span>

        </div>

    </main>

<script src="/js/Transicao3.js"></script>
<script src="/js/tema.js"></script>

</body>

</html>