<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Bixuco — Relatórios</title>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    >

    <link
        rel="stylesheet"
        href="/css/transicao2.css"
    >

    <link rel="icon" type="image/png" href="/img/logo-bixuco-colorida.png">
    <script src="/js/deeplink.js"></script>


</head>

<body>

    <main id="conteudo">

        <!-- Pular -->

        <a
            href="/home"
            class="pular"
        >
            Pular
        </a>

        <!-- Conteúdo -->

        <section>

            <img
                src="/img/relatorios.png"
                alt="Relatórios"
            >

            <h1>

                Relatórios diários

            </h1>

            <p>

                Registre como foi o dia e veja
                padrões de comportamento ao
                longo do tempo.

            </p>

        </section>

        <!-- Indicadores -->

        <div>

            <span></span>

            <span class="ativo"></span>

            <span></span>

        </div>

        <!-- Botão voltar -->

        <button id="btnVoltar" aria-label="Voltar">
            <i class="fa-solid fa-chevron-left"></i>
        </button>

        <!-- Botão avançar -->

        <button id="btnAvancar" aria-label="Próximo">
            <i class="fa-solid fa-chevron-right"></i>
        </button>

    </main>


    <script src="/js/Transicao2.js" ></script>
    <script src="/js/tema.js"></script>

</body>

</html>